<a href="https://colab.research.google.com/github/natpenatti/PythonDSA/blob/main/DSA_Python_Cap03_02_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 3</font>


## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

### Loop For

In [ ]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,4)
for i in tp:
    print(i)

2
3
4

In [ ]:
# Criando uma lista e imprimindo cada um dos valores
ListaDoMercado = ["Leite", "Frutas", "Carne"]
for i in ListaDoMercado:
    print(i)

Leite
Frutas
Carne

In [ ]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [ ]:
# Imprimindo na tela os números pares da lista de números
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 0:
        print (num)

2
4
6
8
10

In [ ]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(0,101,2):  
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# Strings também são sequências
for caracter in 'Python é uma linguagem de programação divertida!':
    print (caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

### Loops Aninhados

In [ ]:
# Loops aninhados
for i in range(0,5):
    for a in range(0,2):
        print(a)

0
1
0
1
0
1
0
1
0
1

In [ ]:
# Operando os valores de uma lista com loop for
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i

print(soma)

462

In [ ]:
listaNat = [1, 2, 3, 8, 9, 10]
sub = 100
for a in listaNat:
    sub_a = a - 1
    sub = sub - sub_a
print(sub)

73

In [ ]:
lista = ['a', 'b', 'c']
for contador in lista:
    print(contador)
    for z in range(0,3):
        print('Tô no for do z')
        for x in range(0,2):
            print('Tô no for do x')

a
Tô no for do z
Tô no for do x
Tô no for do x
Tô no for do z
Tô no for do x
Tô no for do x
Tô no for do z
Tô no for do x
Tô no for do x
b
Tô no for do z
Tô no for do x
Tô no for do x
Tô no for do z
Tô no for do x
Tô no for do x
Tô no for do z
Tô no for do x
Tô no for do x
c
Tô no for do z
Tô no for do x
Tô no for do x
Tô no for do z
Tô no for do x
Tô no for do x
Tô no for do z
Tô no for do x
Tô no for do x

In [ ]:
listaParImpar = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22, 33, 13]
for indice in listaParImpar:
    if((indice%2) == 0):
        print(indice, 'É par.')
    else:
        print(indice, 'É ímpar.')

0 É par.
1 É ímpar.
2 É par.
3 É ímpar.
4 É par.
5 É ímpar.
6 É par.
7 É ímpar.
8 É par.
9 É ímpar.
10 É par.
22 É par.
33 É ímpar.
13 É ímpar.

In [ ]:
listaPar = [2, 3, 4, 6, 8, 9]
for div2 in listaPar:
    if((div2 %2) == 0):
        print(div2, 'É múltiplo de 2')
    else:
        print(div2, 'Não é múltiplo de 2')

2 É múltiplo de 2
3 Não é múltiplo de 2
4 É múltiplo de 2
6 É múltiplo de 2
8 É múltiplo de 2
9 Não é múltiplo de 2

In [ ]:
# Loops em lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
for valor in listas:
    print(valor)

In [ ]:
# Contando os itens de uma lista
lista = [5,6,10,13,17]
count = 0
for item in lista:
    count += 1
    
print(count)

In [ ]:
# Contando o número de colunas
lst = [[1,2,3],[3,4,5],[5,6,7]]
primeira_linha = lst[0]
count = 0
for column in primeira_linha:
    count = count + 1
    
print(count)

In [ ]:
# Pesquisando em listas
listaC = [5, 6, 7, 10, 50]

# Loop através da lista
for item in listaC:
    if item == 5:
        print("Número encontrado na lista!")

In [ ]:
# Listando as chaves de um dicionário
dict = {'k1':'Python','k2':'R','k3':'Scala'}
for item in dict:
    print(item)

In [ ]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário
for k,v in dict.items():
    print (k,v)

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>